# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
env/
venv/
.venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Scratch & temporary
scratch/
.yscb_cache/

# Module Local Configs (Ignore local module configs; track templates and globals)
**/config.json
!**/*template*
!**/*global*

